<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="./public/stylesheets/style.css" />
	<title>Your Future</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 loginForm">
				<div class="form_div">
					<p class="form_label">LOGIN HERE</p>
					<form method="post" action="">
						<p><input type="text" placeholder="Enter Email" /></p>
						<p><input type="password" placeholder="**********" /></p>
						<p><button type="submit" class="glow-on-hover">Login</button></p>
					</form>
				</div>
			</div>
			<div class="col-md-6 signupForm">
				<div class="form_div">
					<p class="form_label">SIGNUP HERE</p>
					<form method="post" action="">
						<p><input type="text" placeholder="Enter Name" /></p>
						<p><input type="text" placeholder="Enter Email" /></p>
						<p><input type="password" placeholder="**********" /></p>
						<p>
							<button type="submit" class="glow-on-hover">Sign Up</button>
						</p>
					</form>
				</div>
			</div>
		</div>

		<div class="container-flex">
			<div class="jumbotron">
				<h1>Three Card Tarot Reading</h1>
				<br>
				<p id="blurb" class="blurb">
					The three card reading is one of the simplest tarot card spreads.<br /> The card to the left
					represents events in your past that may have led to the position you are in now. The Tarot card in
					the center position represents your outlook on your
					current state of affairs. The card furthest to the right suggests a possible outcome if no action is
					taken to change the current course. The future is not set in stone &amp; can be changed through
					action.
					<br />
					<br /> Please focus on your question &amp; click the &quot;My Reading&quot; button below when you
					are ready.
				</p>
				<div class="container-flex">
					<div class="row">
						<div class="col-md-3">
						</div>
						<div class="col-md-3"><button type="button" class="btn btn-primary btn-lg"
								id="pastPresentFuture" onclick="pastPresentFuture()">My Reading</button></div>
						<div class="col-md-3">
							<p>Percentage of Reversals</p>
							<input class="slider" type="range" min="0" max="50" value="0"
								onchange="showValue(this.value)" />
							<span id="range">0</span>%
						</div>
						<div class="col-md-3">
						</div>
					</div>
				</div>

				<div class="container-flex">
					<div class="row">
						<div class="col-md-4">

							<hr>
							<h2>Past</h2>
							<div id="img-1"></div>
							<div id="info-1"></div>

						</div>
						<div class="col-sm-4">

							<hr>
							<h2>Present</h2>
							<div id="img-2"></div>
							<div id="info-2"></div>

						</div>
						<div class="col-sm-4">

							<hr>
							<h2>Future</h2>
							<div id="img-3"></div>
							<div id="info-3"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>